<?xml version='1.0' encoding='utf-8'?>
<widget id="com.memesformankind.www" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MemesForMankind</name>
    <description>
        A party game where you compete with friends to create and share the best memes.
    </description>
    <author email="memesformankind@gmail.com" href="http://memesformankind.com">
        The MemesForMankind Team
    </author>
    <content src="mobile.html" />
    <icon src="www/content/memes_mobile_icon_512.png" />
    <access origin="*" />
</widget>
