<section class="container-fluid body-content">
  <div class="controls small-center">
    <div ng-show="!vm.connectionStatus" ng-click="vm.hasExtension && vm.onChrome && vm.connect()" ng-mouseover="vm.imgsrc='content/cast_connected_gold-512.png'" ng-mouseout="vm.imgsrc='content/cast_disconnected_black-512.png'">
      <img ng-src="{{ vm.imgsrc }}" alt="chromecast icon" draggable="false"/>
    </div>
    <div class="modal-content" ng-show="!vm.onChrome" >
      <p class="start-modal">Ummm, this is awkward...</p>
      <p class="start-modal">You'll need Google Chrome to play this on a laptop/desktop...  <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Download Chrome</a> to get it.  Or just open Chrome, if you already have it.</p>
      <p class="start-modal">Once you've downloaded Chrome head over to the <a href="https://chrome.google.com/webstore/detail/google-cast/boadgeojelhgndaghljhdicfkmllpafd?hl=en" target="_blank">Chrome Web Store</a> and download the Google Cast Extension, you'll need that too!</p>
    </div>
    <div class="modal-content" ng-show="!vm.hasExtension && vm.onChrome" >
      <p class="start-modal">Whoa there, you need the Google Cast extension to play this game!</p>
      <p class="start-modal">Please visit the <a href="https://chrome.google.com/webstore/detail/google-cast/boadgeojelhgndaghljhdicfkmllpafd?hl=en" target="_blank">Chrome Web Store</a> to install it.  Then try refreshing the page.</p>
    </div>
    <div ng-show="vm.connectionStatus">
      <div ng-hide="!vm.playerStarted">
        <h4>WARNING:</h4>
        <h4> {{ vm.title }} </h4>
      </div>
      <div ng-if="!vm.nameSubmitted" ng-enter-key="vm.setUser()">
        <input ng-keydown="vm.keyPress($event)" type="text" ng-model="vm.userName" placeholder="What's your name?"></input>
        <button class="username-button" ng-click="vm.setUser()">Join Game</button>
      </div>
      <div class="row" ng-if="vm.nameSubmitted" ng-hide="vm.playerStarted">
        <button id="start" ng-click="vm.startGame()" ng-class="{{ vm.playerStarted ? 'start-button-clicked' : 'start-button' }}" ng-disabled="vm.playerStarted">{{ vm.playerStarted === false ? 'Start the game!' : 'Ready to play!' }}</button>
      </div>
    </div>
  </div>
</section>

