<section class="container-fluid body-content">
  <div class="controls small-center">
    <img ng-show="!vm.connectionStatus()" ng-click="vm.connect()" src="content/ic_cast_grey_24dp.png" alt="chromecast icon">
    <div ng-show="vm.connectionStatus()">
      <h4>WARNING:</h4>
      <h4> {{ vm.test }} </h4>
      <div ng-if="!vm.nameSubmitted">
        <input type="text" ng-model="vm.userName" placeholder="What's your name?"></input>
        <button class="username-button" ng-click="vm.setUser()">Set Username</button>
      </div>
      <div class="row" ng-if="vm.nameSubmitted">
        <button id="start" ng-click="vm.startGame()" ng-class="{{ vm.playerStarted ? 'start-button-clicked' : 'start-button' }}" ng-disabled="vm.playerStarted">{{ vm.playerStarted === false ? 'Press here to start the game!' : 'Ready to play!' }}</button>
      </div>
    </div>
  </div>
</section>

