<section class="container-fluid body-content creating">
  <div class="creating-container center-block">
    <div class="row">
      <img class="col-12 img-responsive center-block" src="{{ vm.meme }}">
    </div>

    <div class="row">
      <input ng-model="vm.topText" id="topText" placeholder="Top Text"></input>
      <input ng-model="vm.bottomText" id="bottomText" placeholder="Bottom Text"></input>
    </div>
    <button ng-click="vm.submitCreation()">Submit your entry!</button>
  </div>
</section>
